<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weather.wu.com.weather">

    <application
        android:name="weather.wu.com.WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboardHidden|screenSize"
        >
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:theme="@style/CityPicker.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="11136045834c5e98a06de9ac7af0b4ac"/>
        <activity android:name="weather.wu.com.activity.GudieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="weather.wu.com.activity.CityEditActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"

            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="weather.wu.com.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="weather.wu.com.activity.AboutActivity"/>
        <!--<receiver android:name="weather.wu.com.widget.WeatherAppWidget">
            <meta-data android:name="android.appwidget.provider"
            android:resource="@xml/weather_appwidget"></meta-data>
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
        </intent-filter>
    </receiver>-->
</application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


</manifest>